#--------------------------------------
# OS
#--------------------------------------
.DS_Store

#--------------------------------------
# Settings
#--------------------------------------
.env

#--------------------------------------
# Secrets
#--------------------------------------
secrets/mqtt_credentials.yaml

#--------------------------------------
# Workspace
#--------------------------------------
config/mosquitto.passwd

# Data
data

# Logging
log/mosquitto.log
config/mosquitto.passwd.backup.PLOMnA
