#--------------------------------------
# OS
#--------------------------------------
.DS_Store

#--------------------------------------
# Settings
#--------------------------------------
.env

#--------------------------------------
# Workspace
#--------------------------------------
config/mosquitto.passwd

# Data
data

# Logging
log/mosquitto.log