#--------------------------------------
# OS
#--------------------------------------
.DS_Store

#--------------------------------------
# Settings
#--------------------------------------
.env

#--------------------------------------
# Workspace
#--------------------------------------
config/mosquitto.conf
config/mosquitto.passwd

# Data
data
data/mosquitto.db

# Logging
log
log/mosquitto.log